<div>
  {{ name }}
  <br>
  {{ render nominate_form }}
  <ul>



  {{#each nominee_data in nominees}}
    <li>
    {{ nominee_data.name }} - {{ nominee_data.score }}
    </li>
  {{else}}
    NOBODY NOMINEES
  {{/each}}



  </ul>
</div>